<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kz.avtobys.driverboard">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.webkit.PermissionRequest" />

    <application
        android:name=".App"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:icon="@drawable/ic_avtobys"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_avtobys"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kotlindriverboard"
        tools:targetApi="31">
        <activity
            android:name=".auth.presentation.ui.UnauthorizedActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Kotlindriverboard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>